.app {
  margin: 5% 10% 0% 35%;
  width: max-content;
  height: max-content;
}
.topLayer {
  display: inline-block;
}
.eachEmp {
  margin: 1% 1%;
  padding: 1% 1%;
}
.crossButton {
  display: inline-block !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  height: 40px;
  width: 30px;
}

input[type="text"] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="tel"],
select {
  border: 1px solid #ccc;
  width: 43%;
  border-radius: 4px;
  height: 40px;
}
input[type="button"],
button {
  border: 1px solid rgb(196, 226, 192) !important;
  background-color: #e0e7eb;
  color: rgb(14, 8, 8);
  border-radius: 5px !important;
  width: auto;
  min-width: 30px !important;
  height: auto;
  margin-left: 1%;
  cursor: pointer;
  /* padding: 0px 0px 0px 0px; */
}

input[type="date"] {
  margin-top: 5%;
  height: 40px;
}

label {
  padding: 12px 12px 12px 2px;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  margin-top: 20%;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.skills {
  /* display: inline; */
  margin: 1% 0%;
  /* width: 20% !important; */
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid;
}

.containerBottom {
  border-radius: 5px;
  /* padding: 20px; */
  /* border: 1px solid; */
}

.viewBtn {
  margin-top: 5%;
  padding: 3.5% 4%;
  background-color: #d7ebeb;
}
